<div class="row row-cols-1 row-cols-md-3 g-4">


  <div class="col">
    <div class="card">
      <div class="card-body">
        <input type="checkbox" class="delete-checkbox">
        <h5 class="sku">SKU</h5>
        <div class="product_name">Product Name</div>
        <div class="product_price">Product Price</div>
        <div class="product_speific">Product Specific</div>
      </div>
    </div>
  </div>


  <div class="col">
    <div class="card">
      <div class="card-body">
        <input type="checkbox" class="delete-checkbox">
        <h5 class="sku">SKU</h5>
        <div class="product_name">Product Name</div>
        <div class="product_price">Product Price</div>
        <div class="product_speific">Product Specific</div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <div class="card-body">
        <input type="checkbox" class="delete-checkbox">
        <h5 class="sku">SKU</h5>
        <div class="product_name">Product Name</div>
        <div class="product_price">Product Price</div>
        <div class="product_speific">Product Specific</div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <div class="card-body">
        <input type="checkbox" class="delete-checkbox">
        <h5 class="sku">SKU</h5>
        <div class="product_name">Product Name</div>
        <div class="product_price">Product Price</div>
        <div class="product_speific">Product Specific</div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <div class="card-body">
        <input type="checkbox" class="delete-checkbox">
        <h5 class="sku">SKU</h5>
        <div class="product_name">Product Name</div>
        <div class="product_price">Product Price</div>
        <div class="product_speific">Product Specific</div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <div class="card-body">
        <input type="checkbox" class="delete-checkbox">
        <h5 class="sku">SKU</h5>
        <div class="product_name">Product Name</div>
        <div class="product_price">Product Price</div>
        <div class="product_speific">Product Specific</div>
      </div>
    </div>
  </div>



</div>